.password_input {
  margin-bottom: 0.3rem;
}
.input-container {
  position: relative;
}
.input-container .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
