.sign-in-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  height: 45%;
}
.sign-in-container .text_label {
  margin-bottom: 0.3rem;
}
.signup_btn {
  margin-top: 1rem;
}
.password_div {
  margin-bottom: 1rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  color: white;
}
.spin {
  animation: spin 1s infinite linear;
}
